ALERT_FILE=/var/ossec/logs/alerts/alerts.json

PFSENSE_HOST=admin@192.168.200.1
PFSENSE_KEY=/root/.ssh/pfsense_honey

REDIRECT_ALIAS=HONEY_REDIRECT
BLOCK_ALIAS=BLOCK_REALSERVER

SERVER_REAL_HOST=adminops@192.168.200.50
SERVER_REAL_KEY=/root/.ssh/server_real_honey
SERVER_REAL_BLOCK_CMD=/usr/local/sbin/serverreal-block-ip.sh

REDIRECT_TTL=600
TRIGGER_RULE_IDS=100510,100511,100512